@import "variables";
@import "mixin";

.darkmode * {
	background-color: $color-darkModeDark !important;
	
  .burgerStripe {
    background-color: $color-darkModeLight !important;
  }
  .document,
  .classicButton {
    border: solid $color-darkModeBorder 1px;
    
  }
  .classicButton:hover {
    background-color: $color-darkModeLight !important;
    color : $color-darkModeDark !important;
  }
  input,
  select,
  textarea {
    color: $color-darkModeLight !important;
    border: solid $color-darkModeBorder 1px !important;
  }
}

.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: $main-font;
	color: $color-mainlight;
	background: url("../images/repeat.png") fixed;
	transition: all 0.3s;
	
	textarea {
		font-family: unset;
	}
	.icon {
		cursor: pointer;
		font-size: 30px;
		transition: all 0.2s;
	}
	.icon:hover {
		transform: scale(1.1);
	}
	.edit:hover {
    color: $color-main2;
	}
	.delete:hover {
		color: $color-error;
	}
	.iconButton {
		font-size: 30px;
	}
	.input-file {
		display: none;
	}
	.fullwidth {
		width: 100%;
	}
	h2,
	h3 {
		width: 100%;
		text-align: center;
	}
	p {
		width: 90%;
		text-align: justify;
	}
	.main {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
		background-color: $color-main1;
	}
	section {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 20px;
		padding-top: 10px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;


		.projectsContainer {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			justify-content: space-around;
		}

		.document {
			min-width: 328px;
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: $color-element;
			box-shadow: $box-shadow;
			border-radius: 10px;
			color: $color-main1;
			
		}
	}

	.error {
		color: $color-error;
		font-weight: 700;
		font-size: 11px;
	}

	button,
	input[type="submit"] {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}
	textarea,
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	select {
		border-radius: 15px;
		border: none;
		line-height: 30px;
		margin: 3px 0;
		text-align: center;
	}
	select {
		height: 30px;
	}

	form {
		display: flex;
		flex-direction: column;

		.fieldset {
		min-width: 304px;
		padding: 10px;
		border: none;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		color: $color-lightgray;
		background-color: $color-element;
		box-shadow: $box-shadow;
		text-align: center;
		}
	}
	.authForm {
		width: unset;
	}
	.validateButton {
		margin: 10px auto;
		width: 75%;
		height: 30px;
		font-size: 15px;
	}
}

