@import "variables";

.classicButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 5px 8px;
    color: white;
    background-color: $color-softgreen;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    transition: all 0.3s;
}

.classicButton:hover {
    background-color: $color-purple;
    cursor: pointer;
}