@import "variables";

.classicButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    padding: 5px 8px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 12px;
    transition: all 0.2s;
}

.classicButton:hover {
    background-color: $color-main2;
    cursor: pointer;
}

.select {
  background-color: $color-main3;
}
.deselect {
  background-color: $color-main1;
}
.log {
  background-color: $color-log;
}
.logout {
  background-color: $color-logout;
}