@import "variables";

.classicButton {
    min-width: 165px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    padding: 5px 8px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 12px;
    transition: all 0.2s;
}

.classicButton:hover {
    background-color: $color-main2;
    cursor: pointer;
}

.select {
	background-color: $color-main3;
}
.deselect {
	background-color: $color-main1;
}
.green {
	background-color: $color-green;
}
.red {
	background-color: $color-red;
}