@import "variables";
@import "mixin";

.production {
  .fieldset {
    align-items: unset;
    h3{
      color: $color-main1;
    }
    .description {
      min-width: 100%;
      min-height: 200px;
      text-align: justify;
    }
  }
}


