@import "variables";

.tile {
  min-width: 280px;
  max-width: 304px;
  margin: 20px auto;
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $color-main4;
  box-shadow: $box-shadow;

  .littleFlex {
    display: flex;
    margin: 5px;
  }

  .uploadForm {
    align-items: center;
    input {
      margin: 0 auto;
      width: 95%;
      font-size: 14px;
    }
  }

  input {
    width: 80%;
  }

  img {
    width: 80%;
    border-radius: 10px;
  }

  .children {
    max-height: 250px;
    width: 90%;
    background-color: $color-main3;
    border-radius: 10px;
    box-shadow: $box-shadow;
    transition: all 0.3s;
    overflow:scroll;

    h5 {
      color: $color-main4;
    }
  } 

  .hidden {
    max-height: 0;
  }
  .show {
    max-height: 250px;
  }
}