
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

$main-font: 'Montserrat', sans-serif;
$title-font: 'Red Hat Display', sans-serif;

$color-extremedarkblue: rgb(6,0,93);
$color-darkblue: rgba(9,0,138,1);
$color-pink: rgb(122, 0, 80);
$color-lightgray: #8c8c8c;
$color-white:#f2efe4;
$color-softgreen: #7dbc8e;
$color-darkgreen: #2d2a29;
$color-graygreen: #cfded5;
$color-brown: #826D62;
$color-lightbrown: #f2f1f0;
$color-purple: #5858bf;

$color-main1: #404f76;
$color-main2: #9a0ba7;
$color-main3: #4c0b77;
$color-error: #5a0909;



$bg-light: rgba(255, 255, 255, 0.452);
$bg-white: rgba(255,255,255,0.6);
$bg-gradient: -webkit-linear-gradient(0deg, $color-main1 0%, $color-main2 100%);




