
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

$main-font: 'Montserrat', sans-serif;
$title-font: 'Red Hat Display', sans-serif;



$color-main1: #404f76;
$color-main2: #9a0ba7;
$color-main3: #2a3550;
$color-mainlight: #fff;
$color-error: #5a0909;
$color-element: #d5d5d6;
$color-lightgray: #8c8c8c;
$color-lightbrown: #f2f1f0;
$color-log: #559b61;
$color-logout: #cd3e3e;

$box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;



$bg-light: rgba(255, 255, 255, 0.452);
$bg-white: rgba(255,255,255,0.6);
$bg-gradient: -webkit-linear-gradient(0deg, $color-main1 0%, $color-main2 100%);




